<!DOCTYPE html>
<!-- thymeleafを使うため以下を記述する。以後はth:xxxとすればthymeleafのメソッドが使用可能。 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>新規アカウント登録</h1>
	<!--
	<ul>
		<li th:if="${msg!=null}" th:text="${msg}" />
		<li th:if="${msg2!=null}" th:text="${msg2}" />
	</ul>
 -->
	<div class="content">

		<form th:action="@{/account/create}" method="post" th:object="${formModel}">
			<ul>
				<li th:if="${msg!=null}" th:text="${msg}" />
				<li th:if="${msg2!=null}" th:text="${msg2}" />
				<li th:each="error : ${#fields.detailedErrors()}" class = "err" th:text="${error.message}" />
			</ul>
			<table>
				<tr><td><label>アカウントID</label></td>
					<td><input type="text" name="accountid" th:value="*{accountid}" />※ログイン時に使用します</td></tr>

				<tr><td><label>パスワード</label></td>
					<td><input type="text" name="password" th:value="*{password}" /></td></tr>

				<tr><td><label>アカウント表示名</label></td>
					<td><input type="text" name="accountname" th:value="*{accountname}" />※アプリケーション内の表示名</td></tr>

				<tr><td><label for="role">権限</label></td>
				  	<td><select id="admin" name="admin">
				  	<!-- 新規のユーザー権限は"一般"のみとするため、管理者の選択を削除。--2021/05/07 Add
				  		<option th:value=true th:text="管理者"></option>
				  	-->
				  		<option th:value=false th:text="一般"></option>
			  		</select></td></tr>

					<input type="hidden" name="enabled" th:value="*{enabled}" />

				<tr><td><input type="submit" value="登録" /></td></tr>
			</table>
		</form>

	</div>

</body>
</html>